@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    
}
header{
    position: sticky;
    top: -1px;
    z-index: 1;
    max-width: 100%;
    min-width: 500px;
    display: flex;
    align-items: center;
    padding: 3vh;
    background-color: #242041;
    margin-bottom: 10px;
}
.header{
    box-shadow: 0 0 5px black;
}
header .div-img-header{
    width: 100%;
    text-align: center;
}
.div-img-header img{
    border-radius: 50%;
}
header h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    text-shadow: 1px 3px 5px black;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: end;
    transition: 0.3s;
}
nav ul{
    display: flex;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.068);
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
}
.ul-1 li {
    position: relative;
    margin: 10px ;
    padding: 10px;
    line-height: 1.2em;
    text-align: center;
    transition: 0.3s;
}
.ul-1 a {
    position: relative;
    font-size: 14px;
    margin: 10px auto;
    text-decoration: none;
    color: white;
}
.ul-1 span{
    position: relative;
    margin: 10px;
    top: -8px;
}
.ul-1 li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:8%;
    width: 0;
    height: 100%;
    transition:0.8s;
    background:rgba(255, 255, 255, 0.171);
    border-radius: 10px;
}
.ul-1 li:hover::before{
    width: 100%;
}
.ul-1 li:hover {
    opacity: 0.6;
}

@media screen and (min-width:200px) and (max-width:850px){

    nav ul{
        display: inline-block;
        text-align: center;
    }
    main p {
        line-height: 2.5em;
    }
}
body{
    background-color: #05d8e7;
}
main{
    position: relative;
    background-color: white;
    max-width: 95%;
    margin: auto;
    min-width: 500px;
    line-height: 3em;
    box-shadow: 0px 0px 1px black;
    border-radius: 5px;
}
main .redes-socias{
    padding: 10px;
    position: fixed;
    right: 0;
}


main p {
    padding: 10px;
    font-size: 1.3em;
}
main .p::first-letter{
    font-size: 1.8em;
}
main .h2{
    font-size: 2em;
    background-image: linear-gradient(to right,#122479,white);
    padding: 1vh;
}

main > .projetos h2{
    background-image: linear-gradient(to right,#fafa39,rgb(0, 0, 0));
    padding: 1vh;
}
.sobre-mim h2{
    border-radius: 5px;
}
main .img-js{
    animation: img-js-animation 4s infinite ease-in-out;
}
@keyframes img-js-animation{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.pagina-login{
    margin-top: 20px;
    padding: 10px;
    
}
.str{
   
    font-size: 1.2em;
}

.pagina-login img {
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    width: 100%;
}
.contador-cliques{
    padding: 10px;
    margin-top: 5px;
}
.contador-cliques .mini-contador{
    text-align: center;
    display: inline-block;
    align-items: center;
    width: 85px;
    background-color: rgba(0, 0, 0, 0.295);
    padding: 5px;
    border-radius: 10px;
}
.mini-contador span{
    font-size: 14px;
}
.mini-contador button{
    position: relative;
    padding: 5px;
    border: none;
    background-color: rgb(248, 73, 73);
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.mini-contador button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    background-color: rgba(255, 255, 255, 0.233);
    height: 100%;
    transition: 0.7s;
}
.mini-contador button:hover::before{
    width: 100%;
}
.contador-cliques img{
    margin-top: 10px;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
    width: 100%;
}
.replicar-tabsnews {
    padding: 10px;
}
.replicar-tabsnews img{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}
main a {
    text-decoration: none;
    background-color: rgb(163, 163, 248);
    padding: 5px;
    border-radius: 4px;
}
main a:hover {
    text-decoration: underline;
}

.div-spotify {
    padding: 10px;
}
.div-spotify img {
    width: 100%;
    margin-top:10px ;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}
.div-feedbeck{
    padding: 2vh;
    display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
}
.div-feedbeck img{
    cursor: pointer;
    margin: 8px;
    transition: 0.2s;
}
.div-feedbeck strong{
    margin-right: 7px;
    font-size: 1.1em;
}

.div-feedbeck img#like:hover{
    filter: drop-shadow(0 0 2px blue);
    transform: scale(1.4);
}
.div-feedbeck img#deslike:hover{
    filter: drop-shadow(0 0 2px red);
    transform:scale(1.4);
}
.like{
    transform:scale(1.4);
    background-color: #8398e3;
    border-radius: 50%;
    outline: 1px solid blue;
}
.div-feedbeck .resposta-like{
    position: relative;
    display: none;
}
.div-feedbeck .img-like{
    cursor: auto;
    transition: 0.5s;
    transform:scale(1.3);
}
.div-feedbeck .span-like{
    font-size: 1.1em;
    margin-left: 7px;
    display:none;
}
.deslike{
    transform:scale(1.4);
    background-color: rgb(245, 90, 90);
    outline: 1px solid red;
    border-radius: 5px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-width: 500px;
    margin-top: 20px;
    padding: 10px;
    background-color: #101a35;
    color: white;
}
footer p {
    margin-top: 10px;
}
footer ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
.ul-2 li {
    position: relative;
}
.ul-2 li::before{
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-image:linear-gradient(to right,#000000,#0044ff,white);
    transition: 0.8s;
    scale: 0;
    
}
.ul-2 li:hover::before{
    width: 100%;
    scale: 1;
}
.ul-2 li:hover{
    opacity: 0.6;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
@media(max-width:480px){
    header h1{
        font-size: 1.5em;
    }
    main{
        max-width: 100%;
        min-width: 500px;
    }
}
@media(max-width:560px){
    .div-feedbeck{
        line-height: 1.1em;
    }
}
::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
    box-shadow: 1px 0 5px black;
}